<div class="main-content-container" id="acceptable-use-policy-div">
    <header>
        <h1>Acceptable Use Policy</h1>
    </header>

    {{!-- Acceptable Use Policy Source: https://www.websitepolicies.com/blog/sample-acceptable-use-policy-template --}}

    <p>Please read this acceptable use policy ("policy", “AUP”) carefully before using the My Photo Website website
    (“website”, "service") operated by Anthony Zhang ("us", 'we", "our"). Services provided by us may only be used for
    lawful purposes. You agree to comply with all applicable laws, rules, and regulations in connection with your use
    of the services. Any material or conduct that in our judgment violates this policy in any manner may result in
    suspension or termination of the services or removal of user’s account with or without notice.</p>

    <p><strong>Prohibited Use:</strong>
    You may not use the services to publish content or engage in activity that is illegal under applicable law,
    that is harmful to others, or that would subject us to liability, including, without limitation, in connection
    with any of the following, each of which is prohibited under this AUP:</p>

    <p class="indent">
    • Phishing or engaging in identity theft<br>
    • Distributing computer viruses, worms, Trojan horses, or other malicious code<br>
    • Distributing pornography or adult related content or offering any escort services<br>
    • Promoting or facilitating violence or terrorist activities<br>
    • Infringing the intellectual property or other proprietary rights of others</p>

    <p><strong>Enforcement:</strong>
    Your services may be suspended or terminated with or without notice upon any violation of this policy.
    Any violations may result in the immediate suspension or termination of your account. We reserve the right
    to change this policy at any given time. If you want to make sure that you are up to date with the latest
    changes, we advise you to frequently visit this page.</p>

    <p>The Acceptable Use Policy was last updated December 4, 2021, 20:09 PST. Thank you for reading.</p>
</div>