<div class="main-content-container" id="TOS-and-PR-div">
    <header>
        <h1>Terms of Service</h1>
    </header>
    
    {{!-- Terms of Service Source: https://termly.io/resources/templates/terms-of-service-template/ --}}

    <p>The Terms of Service constitute a legally binding agreement made between you, whether personally or on behalf
    of an entity (“you”) and My Photo Website (“we,” “us” or “our”), concerning your access to and use of the website
    as well as any other media form, media channel, mobile website or mobile application related, linked,
    or otherwise connected thereto (collectively, the “Site”).</p>

    <p>You agree that by accessing the Site, you have read, understood, and agree to be bound by all of these Terms of
    Service. If you do not agree with all of these Terms of Service, then you are expressly prohibited from using
    the Site and you must discontinue use immediately. Supplemental Terms of Service or documents that may be posted
    on the Site from time to time are hereby expressly incorporated herein by reference. We reserve the right,
    in our sole discretion, to make changes or modifications to these Terms of Service at any time and for any reason.
    It is your responsibility to periodically review these Terms of Service to stay informed of updates.
    You will be subject to, and will be deemed to have been made aware of and to have accepted, the changes in any
    revised Terms of Service by your continued use of the Site.</p>
    
    <p>The information provided on the Site is not intended for distribution to or use by any person or entity in any
    jurisdiction or country where such distribution or use would be contrary to law or regulation or which would
    subject us to any registration requirement within such jurisdiction or country.
    Accordingly, those persons who choose to access the Site from other locations do so on their own initiative and
    are solely responsible for compliance with local laws, if and to the extent local laws are applicable.
    All users who are minors in the jurisdiction in which they reside (generally under the age of 18) must have the
    permission of their parent or guardian to use the Site. If you are a minor, you must have your parent
    or guardian read and agree to these Terms of Service prior to you using the Site.</p>

    <header>
        <h1>Privacy Rules</h1>
    </header>

    {{!-- Privacy Policy Source: https://www.privacypolicytemplate.net/ --}}

    <p>My Photo Website operates this website, which provides the Service. Our Privacy Policy is used to inform
    website visitors regarding our policies with the collection, use, and disclosure of Personal Information
    if anyone decided to use our Service, My Photo Website. If you choose to use our Service, then you agree
    to the collection and use of information in relation with this policy. The Personal Information that we
    collect are used for providing and improving the Service. We will not use or share your information with
    anyone except as described in this Privacy Policy. The terms used in this Privacy Policy have the same
    meanings as in our Terms and Conditions, unless otherwise defined in this Privacy Policy.</p>

    <p><strong>Information Collection and Use:</strong>
    For a better experience while using our Service, we may require you to provide us with certain personally
    identifiable information, including but not limited to your username and email address. The information that
    we collect will be used to contact or identify you.</p>

    <p><strong>Security:</strong>
    We value your trust in providing us your Personal Information, thus we are striving to use
    commercially acceptable means of protecting it. But remember that no method of transmission over the
    internet, or method of electronic storage is 100% secure and reliable, and we cannot
    guarantee its absolute security.</p>

    <p><strong>Children's Privacy:</strong>
    Our Services do not address anyone under the age of 13. We do not knowingly collect personal
    identifiable information from children under 13. In the case we discover that a child under 13 has provided us
    with personal information, we immediately delete this from our servers.</p>

    <p><strong>Changes to This Privacy Policy:</strong>
    We may update our Privacy Policy from time to time. Thus, we advise you
    to review this page periodically for any changes. We will notify you of any changes by posting the
    new Privacy Policy on this page. These changes are effective immediately, after they are posted on this page.</p>

    <p>The Terms of Service and Privacy Policy were last updated December 4, 2021, 19:59 PST. Thank you for reading.</p>
</div>